.note-md {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--mint);
}
.note-md code {
  color: #0a66c2;
}
.note-md hr {
  margin-top: 1em;
  margin-bottom: 2.5em;
  color: var(--lightmint);
}
.note-md p {
  font-size: 1rem;
  line-height: 2rem;
  margin: 0;
}
.note-md ul {
  margin: 1rem 0;
}
.note-md table {
  border-collapse: collapse;
}
.note-md td {
  padding: 0.25em 0.5em;
  vertical-align: top;
  border: 1px solid var(--mint);
}
.note-md img {
  max-width: 100%;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
}
.note-md pre {
  overflow: scroll;
}
.note-md summary {
  font-size: 0.9em;
}

.note-md .language-bash {
  background-color: #300e24;
}
