.container {
  position: relative;
  max-width: 768px;
  margin: 0 auto;
}

.header {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--mint);
  box-shadow: 5px 5px 25px rgb(0 0 0 / 20%);
  z-index: 2;
}
.header__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
}
.header__menu-btn {
  width: 100px;
  height: 70px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.nav-resume {
  align-items: center;
}

.cv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  color: var(--deepgreen);
  font-size: 1.5rem;
  font-weight: 800;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid var(--deepgreen);
}
.cv__big {
  width: 30px;
  height: 30px;
  font-size: 1rem;
}

.pet-projects {
  padding: 20px 0;
  border-top: 1px solid var(--lightgray);
  border-bottom: 1px solid var(--lightgray);
}
.pet-projects a {
  display: block;
  margin-right: 10px;
}
.pet-projects-list {
  display: flex;
  flex-direction: column;
}
.pet-project {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 10px;
}

.employer {
  color: var(--blue);
  text-decoration: none;
}
.employer:hover,
.employer:focus {
  color: var(--lightblue);
  text-decoration: underline;
}

.author-desc {
  margin: 0;
}
.author-info {
  display: flex;
  margin-bottom: 2rem;
}
.author-info img {
  margin-right: 20px;
}
.author-tags {
  padding: 1rem 0;
}

.author-tags a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.75em;
  padding: 0.08333333333333em 0.3333333333333em;
  margin-right: 1rem;
  color: var(--darkgray);
  border: 1px solid var(--gray);
  border-radius: 0.25em;
  text-decoration: none;
  line-height: 1.8;
}

.author-tags a:hover,
.author-tags a:focus {
  background-color: var(--lightgray);
}

.display-none {
  display: none;
}

.videolist {
  list-style: none;
  padding: 0;
}

.videolist__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  line-height: 1.8;
  border-bottom: 1px solid var(--gray);
}

.videolist__link {
  font-size: 1.2rem;
  color: var(--black);
  font-weight: 500;
  text-decoration: none;
}
.videolist__link:hover,
.videolist__link:focus {
  color: rgba(var(--black), 0.5);
}
.videolist__link:visited {
  font-weight: 600;
  text-decoration: none;
  color: rgba(var(--black), 0.1);
}
.videolist__link::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -6px;
  width: 125px;
  height: 22px;
  background-color: var(--lightmint);
}
.videolist__date {
  align-self: end;
  font-size: 0.8125em;
  color: var(--darkgray);
}
.videolist__year {
  margin: 1rem 0;
  font-size: 1.25em;
  font-weight: 600;
  color: var(--darkgray);
}
.videolist__title {
  margin-bottom: 0;
}
.videolist__lang {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.videolist__lang span {
  margin-right: 0.5rem;
}

.header__big {
  display: flex;
  justify-content: space-between;
  background-color: var(--mint);
  box-shadow: 5px 5px 25px rgb(0 0 0 / 20%);
}
@media (max-width: 768px) {
  .header__big {
    display: none;
  }
}
.nav__big {
  display: flex;
  height: 70px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav__big--item {
  display: flex;
  align-items: end;
  height: 100%;
}
.nav__big--item a {
  display: flex;
  align-items: end;
  width: 100%;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  line-height: 1rem;
}
.nav__big--item h1 {
  line-height: 1rem;
}

.cv-list {
  margin: 1rem 0;
  padding: 0;
  list-style: none;
}

.cv-list__item {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 10px;
  margin-bottom: 1rem;
}

.cv-list__item--info p {
  font-size: 0.9rem;
  line-height: 1.5rem;
  padding: 0;
  margin: 0;
}

.cv-list__title {
  margin: 0.75rem 0;
  font-size: 1.2rem;
  font-weight: 600;
}

p.cv-list__item--date {
  font-size: 0.8rem;
  line-height: 1.2rem;
}
.article-urls {
  padding-left: 15px;
  list-style-type: disc;
}

.footer {
  display: flex;
  justify-content: end;
  padding: 0.5rem 1rem 1rem;
  margin-top: 2.5rem;
  border-top: 1px solid var(--mint);
}

@media (min-width: 768px) {
  .header {
    display: none;
  }
}
