<header class="text-gray-800 bg-white border-t border-b body-font">
  <div class="container flex flex-col flex-wrap -5 mx-auto md:item-center md:flex-row">
    <nav class="flex flex-wrap items-center justify-center text-base md:ml-auto md:mr-auto">
      <a href="/" class="mr-6 text-md font-semibold hover:text-gray-800">Home</a>
      <a href="/about" class="mr-6 text-md font-semibold hover:text-gray-800">About</a>
    </nav>
  </div>
</header>