<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/main.bundle.css">
      <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">

  <script src="/assets/main.bundle.js" defer></script>
  <title>{{ title }}</title>
  {% block head %}{% endblock %}
</head>
<body class="flex flex-col min-h-screen">
{% include 'header.njk' %}
<main class="container flex-grow py-8">
 {{ content | safe }}
 </main>
{% include 'footer.njk' %}  
</body>
</html>