body {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	color: #fff;
	background: #262626;
	letter-spacing: 0.09em;
	text-transform: uppercase;
}

h1,h1,h3,h4,h5,p,h6 {
	margin: 0;
	padding: 0;
}
a, a:hover, a:active {
	text-decoration: none;
	transition: all 0.5s ease;
}
ul, li {
	display: block;
	padding: 0;
	margin: 0;
}
.first {

}
#first {

}
.header {
	height: 15vh;
}
.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center;
}
.container {
	width: 87%;
	margin: 0 auto;
	position: relative;
	height: 100%;

}
.content {
	height: 80vh;
	z-index: 1;
}
.d-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.slider, .offer {
	width: 50%;
	position: relative;
}

.offer {
	background: #1c1c1c;
}

.btn {
	background: #e930a1;
	color: #fff;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	width: 185px;
	padding: 22px 0;
	border-radius: 100px;
	display: block;
}
.btn:hover {
	background: #ff009c;
	box-shadow: 0 10px 30px rgba(233,48,161,0.4);
}
.btn-round {
	font-size: 9px;
	border: 1px solid #30e9a1;
	padding: 5px 16px;
	text-transform: uppercase;
	border-radius: 100px;
	color: #30e9a1;
}

.btn-round:hover {
	background: #30e9a1;
	color: #fff;
	border: 1px solid #30e9a1;
	
}

.logo {

}

.menu {
	margin-left: 235px;
}

.menu__item {
	margin-right: 48px;
}

.menu__item a {
	font-weight: 300;
	font-size: 13px;
	color: #fff;
}

.auth__info {
	margin-left: 15px; 
}

.menu__item a:hover {
	color: #23c8d2;
}
.auth {
	margin-left: auto;
}

.auth__profile {
	font-size: 8px;
	color: #b2b2b2;
	margin-bottom: 3px; 
}

.auth__name {
	font-size: 10px;
	margin: 0;
}

.auth__img {
	border: 1px solid #404040;
	border-radius: 50%;
	width: 57px;
	height: 57px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.auth__play {
	display: block;
	background: #353535;
	width: 27px;
	height: 27px;
	border-radius: 50%;
	text-align: center;
	line-height: 27px;
	margin-left: 21px;
}

.auth__more {
	background: transparent url('../img/arrow.png') no-repeat;
	width: 5px;
	height: 6px;
	border: none;
	margin-left: 15px;
}

.offer__body {

}

.offer__title {
	font-size: 58px;
	font-weight: 900;
}

.offer__body {
	width: 610px;
}

.offer__word {
	display: block;
	font-size: 81px;
	position: relative;
}

.offer__word:before {
	content:"anywhere";
	display: block;
	font-size: 81px;
	color: #8d1212;
	position: absolute;
	z-index: 1;
	margin-left: -6px;
	margin-top: -4px;
	height: 50%;
}

.offer__word span {
	z-index: 2;
	position: relative;
}

.offer__word:after {
	content:"anywhere";
	display: block;
	font-size: 81px;
	color: #37aaa8;
	position: absolute;
	z-index: 1;
	top: 3px;
	left: 4px;
}

.offer__btns {
	margin-top: 2vh;

}

.offer__btn {
	margin-right: 20px;
}

.offer__cta {
	margin-top: 6vh;
}
.slider {
	background: rgba(0,0,0,0.07);
	position: relative;
}

#light {
	margin-left: 100px; 
	margin-top: 200px; 
	background-color: red; 
	width: 200px; 
	height: 100px; 
	border-radius: 50%; 
	animation: shadow 1s infinite alternate; 
	z-index: 1;
}
#light2 {
	margin-left: 0px; 
	margin-top: 200px; 
	background-color: #37aaa8; 
	width: 100px; 
	height: 200px; 
	border-radius: 50%; 
	animation: shadow2 1s infinite alternate;
	z-index: 100;
} 
	
@keyframes shadow { 
	from{ box-shadow: 0 0 55px 10px red; } to{ box-shadow: 0 0 90px 20px red; } 
}
@keyframes shadow2 { 
	from{ box-shadow: 0 0 55px 10px green; } to{ box-shadow: 0 0 90px 20px green; } 
}

.wrapper { 
	position: relative; 
	width: 500px; 
	height: 500px; 
	margin: 0 auto; 
	z-index: -1;
}


.blur { 
	z-index: 99; 
	background-size: cover;
	background-repeat: no-repeat; 
	-webkit-filter: blur(100px); 
	-moz-filter: blur(100px); 
}

.ellipse {
	background: url('../img/ellipse.png') no-repeat center center / contain;
	width: 80%;
	height: 80%;
	position: absolute;
	bottom: 3vh;
  right: 10vh;
}
.lines-dot {
	background: url('../img/two_lines.png') no-repeat center center / contain;
	width: 20%;
	height: 20%;
	position: absolute;
	bottom: 3vh;
  left: -2.5vh;
}

.plus-yellow {
	background: url('../img/plus_yellow.png') no-repeat center center / contain;
	width: 10%;
	height: 10%;
	max-width: 67px;
	max-height: 67px;
	position: absolute;
	bottom: 35vh;
	left: 15vh;
}

.rnb-man {
	background: url('../img/rag-n-bone-man.png') no-repeat bottom center / contain;
	width: 80%;
	height: 80%;
	max-width: 703px;
	max-height: 703px;
	position: absolute;
	bottom: 0;
	left: 9vh;
}

.plus-dots {
	background: url('../img/dots_and_plus.png') no-repeat center center / contain;
	width: 40%;
	height: 40%;
	max-width: 290px;
	max-height: 290px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
}

.triangles {
	background: url('../img/triangle.png') no-repeat center center / contain;
	width: 30%;
	height: 30%;
	max-width: 165px;
	max-height: 165px;
	position: absolute;
	top: 15vh;
	right: 2vh;
}

.line-wave {
	background: url('../img/wave.png') no-repeat center center / contain;
	width: 30%;
	height: 30%;
	max-width: 260px;
	max-height: 233px;
	position: absolute;
	top: 15vh;
	left: -8vh;
}

.slider-pointer {
	position: absolute;
	top: 8vh;
	left: 8vh;
}
.pointer {
	display: flex;
	border: 1px solid #aba9aa;
	width: 40px;
	height: 40px;
	justify-content: center;
	align-items: center;
}
.margin-right {
	margin-right: 10px;
}

.text {
	font-weight: 300;
	font-size: 10px;
}

.pointers {
	display:inline-flex;
	margin-bottom: 4.2vh;
}

.none-decoration {
	text-transform: none;
	font-size: 10px;
	color: #fff;
}
.slider-text {
	display: block;
	color: #aba9aa;
}