@import './vars';

.nav {
    display: flex;
    align-items: center;

    &__user {
        display: flex;
        align-items: center;
        height: 30px;
        margin-right: 15px;
    }
}
