$green: rgb(34, 192, 153);
$green-bloom: rgba(34, 192, 153, .5);

$dark: #1d1d1d;
$font-for-dark-bg: rgb(230, 230, 230);
$dark-light: #333;
$grey: #444;
$grey-light: #999;

$red: #e73838;
$red-cherry: #6d0f0f;
