---
layout: layouts/home.njk
eleventyNavigation:
  key: CV
  order: 1
---

{% set author = metadata.author %}

<div class="author-info">
  <img class="author-info__photo" src="../../img/aynur_shauerman_small.jpg" alt="Aynur Shauerman" title="Aynur Shauerman" width="200" height="266">
  <div>
    <h2>{{ author.name }}</h2>
    <p class="author-info__prof">{{ author.prof }} </p>
    <time  class="author-info__txt" datetime="{{ author['birth-date'] }}">{{ author["birth-date"] }} - 35 years old</time>
    <p class="author-info__txt">Current work:
      <a href="{{author.employerurl}}" target="_blank">
        {{author.employer}}
      </a>
    </p>
    <div>
    <p class="author-info__contact">
      <img src="../img/icons/github.png" alt="{{ author.github}}" width="20" height="20">
      <a href="{{author.github}}">
        {{author.github}}
      </a>
    </p>
    <p class="author-info__contact">
      <span>@</span> 
      <a href="mailto:{{author.email}}?subject = Work">
        {{author.email}}
      </a>
    </p>
    <p class="author-info__contact">
      <img src="../img/icons/telegram.svg" alt="{{ author.telegram}}" width="20" height="20">
      <a href="{{author.telegram}}">
        {{author.telegram}}
      </a>
    </p>
    </div>
  </div>
</div>

{% set cvData = cv %}

<div>
  {% for title,info in cvData %}
    <details>
      <summary  class="cv-list__title">
        {{title}}
      </summary>
      <ul class="cv-list">
        {% for workData in info %}
        <li class="cv-list__item">
        <a href="{{ workData.url }}" target="_blank">
          <img src="../img/cv/{{ workData.img }}" width="100" height="100" alt="{{ workData['company-name'] }}">
        </a>
        <div class="cv-list__item--info">
          <a href="{{ workData.url }}" target="_blank">{{workData['company-name']}}</a>
          <p class="cv-list__item--date">{{workData.time}}</p>
          {%if workData.location%}
            <p>{{workData.location}}</p>
          {%endif%}
          {%if workData['work-type']%}
            <p><b>Project type: </b>{{workData['work-type']}}</p>
          {%endif%}
          {%if workData.tools%}
            <p><b>Tools:</b> {{workData.tools}}</p>
          {%endif%}
          {%if workData.topic%}
            <p><b>Topic: </b>{{workData.topic}}</p>
          {%endif%}
          {%if workData.urls%}
            <ul class="article-urls">
            {% for article in workData.urls %}
            <li>
              <a href="{{ article.url }}" target="_blank">{{article.title}}</a>
            </li>
            {% endfor %}
            </ul>
          {%endif%}
        </div>
        </li>
        {% endfor %}
      </ul>
    </details>
  {% endfor %}
</div>


