---
permalink: /tags/
layout: layouts/home.njk
---
<h2>Tags</h2>

{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post__tag">{{ tag }}</a>
{% endfor %}
