---
pagination:
  data: collections
  size: 1
  alias: videos
  addAllPagesToCollections: true
layout: layouts/home.njk
---
<h2 class="videolist__title">Youtube livestreames</h2>
<div class="videolist__lang">
  <span>Russian language</span>
  <img src="../img/icons/rus.png"  width="25" height="25" >
</div>

{% set videoList = youtube %}

{% for year, data in videoList %}
  <p class="videolist__year">
    {{year}}
  </p>
  <ul class="videolist">
    {% for video in videoList[year] %}
    <li class="videolist__item">
      <a href="{{ video.url }}" class="videolist__link">
        {{ video.title}}
      </a>
      <time class="videolist__date" datetime="{{ video.date | htmlDateString }}">{{ video.date  }}</time>
    </li>
    {% endfor %}
  </ul>
{% endfor %}

