.list {
    margin: 30px 15px;



    &__item {
        margin: 15px 0 0 0;

        font-size: 16px;
        line-height: 20px;
        font-weight: normal;

        list-style-image: url(./imgs/rectangle.svg);

        &--sub {
            list-style-type: square;
        }

        & a {
            position: relative;

            margin-left: -25px;

            color: #233f5f;
            text-decoration: none;

            &::before {
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0;
                width: 0;
                height: 1px;
        
                background:#233f5f;
        
                transition-duration: 0.3s;
                transition-property: left, width, color;
                transition-timing-function: ease;
            }

            &:hover::before, &:focus::before {
                left: 0;
                width: 100%;
                transition-duration: 0.5s;
                transition-property: left, width, color;
                transition-timing-function: ease;
            }

        }
    }
}

@media(max-width: 600px) {
    .list {
        font-size: 24px;
        line-height: 32px;

        &__item {
            font-size: 24px;
            line-height: 32px;
        }
    }
}

@media(max-width: 400px) {
    .list {
        margin-left: 5px;

        & ul {
            margin-left: 5px;
            padding-left: 5px;
        }
    }
}