.project {
    position: relative;
    
    width: 400px;
    height: 300px;
    
    overflow: hidden;

    &__title {
        position: absolute;
        top: 0;
        left: 0;

        margin: 30px 15px;

        font-size: 30px;
        line-height: 36px;
        font-weight: bold;
        color: #0f1c20;

        z-index: 2;

        transition-duration: .8s;
        transition-property: margin-top;
        transition-timing-function: ease;
    }

    &__prop {
        font-size: 20px;
        line-height: 28px;
        font-weight: normal;
        color: #0f1c20;
        
        &s {
            position: absolute;
            top: 100%;            
            left: 0;
            right: 0;

            height: 100%;
            margin: 0;
            padding: 60px 30px 10px 30px;

            background-color: rgba($color: #fff, $alpha: .9);
            opacity: 0;

            transition-duration: 2s;
            transition-property: top, opacity;
            transition-timing-function: ease;

            &--list {
                margin: 0;
                padding: 0;
            }
        }
    }

    &__link {
        position: relative;

        font-size: 20px;
        line-height: 24px;
        font-weight: normal;
        color: #0f1c20;
        text-decoration: none;

        &::before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 0;
            height: 1px;
      
            background:#0f1c20;
      
            transition-duration: 0.3s;
            transition-property: left, width, color;
            transition-timing-function: ease;
          }

          &:hover::before, &:focus::before {
            left: 0;
            width: 100%;
            transition-duration: 0.5s;
            transition-property: left, width, color;
            transition-timing-function: ease;
        }
    }

    &__links {
        margin: 0;
        margin-top: 10px;
        padding: 0;
    }

    &__img {
        width: 400px;
        height: 300px;

        transition-duration: 0.5s;
        transition-property: opacity;
        transition-timing-function: ease;

        &:hover, &:focus {
            opacity: 1;

            transition-duration: 0.5s;
            transition-property: opacity;
            transition-timing-function: ease;
        }
    }

    &:hover, &:focus {

        transition-duration: 2s;
        transition-property: display;
        transition-timing-function: ease;

        & .project__img, & .project__props  {
            opacity: 1;

            transition-duration: .8s;
            transition-property: opacity;
            transition-timing-function: ease;
        }

        & .project__props {
            top: 0;

            transition-duration: .8s;
            transition-property: top;
            transition-timing-function: ease;
        }

        & .project__title {
            margin-top: 20px;

            transition-duration: .8s;
            transition-property: margin-top;
            transition-timing-function: ease;
        }
    }    
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: auto;

    &__wrap {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .project {
        width: calc(100% / 2);
        height: 300px;

        &__title {
            font-size: 28px;
            line-height: 32px;
        }

        &__prop {
            font-size: 16px;
            line-height: 20px;

            &s {
                top: 0;
                
                padding-top: 80px;

                background: linear-gradient(165deg, #fff, rgb(160, 185, 231));
                opacity: .8;
            }
        }

        &__link {
            font-size: 16px;
            line-height: 20px;
        }
    }
}

@media(max-width: 600px) {
    .project {
        width: 100%;

        &__img {
            width: 100%;
            object-fit: cover;
        }
    }
}

@media(max-width: 400px) {
    .project {
        width: 100%;
    }
}