<header class='header-container'>
  <nav class="header" x-data="{ isOpen: false }" @keydown.escape="isOpen = false" @click.away="isOpen = false">
    <div class="header__bg"  x-show="isOpen"> </div>
    <div class="header__title" x-bind:style="isOpen ? 'border-bottom: 2px solid #fff;' : 'border-bottom: none'">
      <button class="header__menu-btn" @click="isOpen = !isOpen" type="button">
        <img src='../../img/icons/align-justify.svg' title="open menu" width="35" height="35" x-show="!isOpen"/>
        <img src='../../img/icons/cross.svg' title="close menu" width="35" height="35" x-show="isOpen"/>
      </button>
      <h1>
        <a class="main-link" href=" {{ '/' | url }}" title="home">
          {{ metadata.title }}
        </a>
      </h1>
    </div>
    <ul class="nav" x-show="isOpen" x-transition>
      {%- for entry in collections.all | eleventyNavigation %}
        <li>
          <a href="{{ entry.url | url }}" title="{{ entry.title }}" class="nav-item {% if entry.url == page.url %} nav-item-active {% endif %} ">
            {%- if entry.title === 'CV' %}
              <span class="cv">
                {{ entry.title }}
              </span>
            {% else %}
              <img src="../../img/icons/{{ entry.img }}" width="40" height="40" alt="{{ entry.title }}">
              <span class="nav-item__key">
                {{ entry.key }}
              </span>
            {% endif %}
          </a>
        </li>
      {%- endfor %}
    </ul>
    <div class="nav nav-resume" x-show="isOpen" x-transition>
      {%- if metadata.resumeList %}
        {%- for _, data in metadata.resumeList %}
          <a href="{{ data.url }}" class="nav-item" target="{% if data.redirect %}_blank{% else %}_parent{% endif %}">
            <img width="40" height="40" src="../../img/icons/{{ data.img }}" alt="{{ data.title }}"/>
          </a>
        {%- endfor %}
      {% endif %}
    </div>
  </nav>
  

  <nav class="header__big container">
    <ul class="nav__big">
      <li class="nav__big--item {% if page.url == '/' %} nav-item-active {% endif %}">
        <h1>
          <a class="main-link" href=" {{ '/' | url }}" title="Main page">
            <img src="../../img/icons/home.svg" width="30" height="30" alt="home">

          </a>
        </h1>
      </li>
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav__big--item {% if entry.url == page.url %} nav-item-active {% endif %}">
          <a href="{{ entry.url | url }}" title="{{ entry.title }}" >
            {%- if entry.title === 'CV' %}
              <span class="cv cv__big">
                {{ entry.title }}
              </span>
            {% else %}
              <img src="../../img/icons/{{ entry.img }}" width="30" height="30" alt="{{ entry.title }}">
            {% endif %}
          </a>
        </li>
      {%- endfor %}
    </ul>
    <ul class="nav__big nav-resume">
      {%- if metadata.resumeList %}
        {%- for _, data in metadata.resumeList %}
        <li class="nav__big--item {% if data.pageurl == page.url %} nav-item-active {% endif %}">
          <a href="{{ data.url }}" target="{% if data.redirect %}_blank{% else %}_parent{% endif %}"
          title="{{ data.title }}">
            <img width="30" height="30" src="../../img/icons/{{ data.img }}" alt="{{ data.title }}"/>
          </a>
          </li>
        {%- endfor %}
      {% endif %}
    </div>
  </nav>
</header>
<div class="header__big--mock"></div>