<ul reversed class="postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
  {% for post in postslist | reverse %}
    <li class="postlist__item{% if post.url == url %} postlist__item-active{% endif %}">
      <div class='post__main-info'>
        <a href="{{ post.url | url }}" class="postlist__link">
          {% if post.data.title %}
            {{ post.data.title }}
          {% else %}
            <code>{{ post.url }}</code>
          {% endif %}
        </a>
        <time class="postlist__date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      </div>
      <div class='post__tags'>
        {% for tag in post.data.tags | filterTagList %}
          {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
          <a href="{{ tagUrl | url }}" class="post__tag">{{ tag }}</a>
        {% endfor %}
      </div>
    </li>
  {% endfor %}
</ul>