body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  min-width: 320px;
}

h1 {
  margin: 0;
  padding: 0;
}
/*Навигация*/
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: row;
  background: #4d4e53;
  box-shadow: 0 0.3rem 0.5rem #888;
}
/*точечки*/
.dots {
  width: 1rem;
  margin: 0.2rem 0 0.2rem 0.2rem;
}

.item1,.item2,.item3 {
  width: 0.5rem;
  height: 0.5rem;
  background: #fff;
  border-radius: 50%;
  margin-bottom: 0.2rem;
}

.item3 {
  margin: 0;
}
/*END точечки*/

/*Выпадающее меню*/
.dropdown {
  height: 2.5rem;
  color: #fff;
  display: flex;
  align-items: center;
}

.sub {
  position: absolute;
  left: 0;
  top: 2.1rem;
  padding: 1rem 3rem 1rem 1.5rem;
  font-size: 1.2rem;
  background: #4d4e53;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .5s ease-in-out;*/
}

.nav-link {
  color: #fff;
  line-height: 2rem;
  text-decoration: underline;  
}

.JS-doc {
  color: #fff;
  font-size: 1.8em;
}

.dropdown:hover .sub{
  display: flex;
  flex-direction: column;
  opacity: 1;
  transform: scaleY(1) translateY(0.4rem);
  box-shadow: 0.3rem 0.3rem 0.3rem #666;
}

.main {
  padding: 2rem 0.5rem;  
}

.main-header {
  font-size: 1.8em;
  padding: 1rem 0.5rem 0;
  position: relative;
  z-index: -2;
}

.orange-box {
  width: 3rem;
  height: 1.5rem;
  background: #FFDD40;
  position: absolute;
  top: 0.8rem;
  z-index: -1;
}

.article-ul {
  padding: 0.5rem;
}

article ul {
  margin: 1rem;
}

section article {
  color: #4d4e53;
}

article p {
  padding: 0 1.2rem;
}

code {
  display: block;
  background-color: #F7F7F7;
  line-height: 2rem;
  border-radius: 5px;
  margin: 1.5rem;
  padding: 0.8rem 1.5rem;
}

@media (min-width: 900px) {
  .nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%; 
    display: flex;
    flex-direcion:column;
    width: 17rem;
    box-shadow: none;
    padding: 1rem 0 1rem 1rem;
    cursor: pointer;
    background: #fff;
    border-right: 3px solid #99A2A2;
  }
  
  .main {
    padding: 0 0 0 19rem;
  }
  
  .dots {
    display: none;
  }
 
  .dropdown {
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    top: 0;
    align-items: center;
  }
  
  .sub {
    position: relative;    
    top: 0.5rem;
    padding: 0 1.5rem 1rem 0;
    font-size: 1rem;
    background: #fff;
    transform: none;
    transform-origin: 0 0;
    transition: .5s ease-in-out;*/
  }

  .nav-link {
    color: #000;
    line-height: 2.5rem;
    text-decoration: none; 
  }

  .JS-doc {
    color: #000;
    border-bottom: 2px solid #000;
  }

  .dropdown:hover .sub{
    display: flex;
    flex-direction: column;
    opacity: 1;
    transform: none;
    box-shadow: none;
  }
  
  .nav-link:hover {
    color: #555;
  }
}
