@import '../../sass/vars.scss';

.canvas {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    image-rendering: pixelated;

    background-image: url(./img/canvas-bg.png);
    background-repeat: repeat;

    &__wrap {
        position: relative;
    }

    &--above{
        position: absolute;
        top: 0;
        left: 0;
        
        width: 100%;
        height: 100%;

        image-rendering: pixelated;
        display: none;
    }
}

.resolution {
    margin-right: 10px;

    &__btn {
        &--active {
            background-color: $green;
        }
    }
}