@import '../../sass/vars';

.tool {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 2px;
    margin-bottom: 2px;
    padding: 0;

    background-color: $dark-light;
    background-repeat: no-repeat;
    background-position: 7px 7px;
    border: 3px solid $dark-light;
    cursor: pointer;

    &:hover, &:focus {
        background-color: $grey;
    }

    &--active {
        border: 3px solid $green;
    }

    &--pen {
        background-image: url(./img/pencil.svg);
    }

    &--bucket {
        background-image: url(./img/bucket.svg);
        background-position: 7px 11px;
    }

    &--bucket-same-pixel {
        background-image: url(./img/bucket_same_pixels.svg);
    }

    &--picker {
        background-image: url(./img/picker.svg);
        background-position: 10px 10px;
    }

    &--eraser {
        background-image: url(./img/eraser.svg);
    }

    &--stroke {
        background-image: url(./img/stroke.svg);
    }

    &--empty {
        background-image: url(./img/blank.svg);
        background-position: 2px 3px;
    }
}

.tools {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100px;

    &__container {
        display: flex;
        flex-wrap: wrap;

        margin: 0;
        margin-bottom: 15px;
        padding: 0;

        list-style: none;
    }

    &__palette {
        &--wrap {
            position: relative;

            & input[type="color"]::-webkit-color-swatch-wrapper {                
                width: 46px;
                height: 46px;
                padding: 0;

                border: 5px solid $dark-light;
                outline: none;

                cursor: pointer;

                &:hover, &:focus, &:active {
                    border: 5px solid $grey;
                }
            }
        }

        &--primary, &--secondary, &--swapper {
            position: absolute;
            top: 0;
            right: 25px;

            padding: 0;

            border: none;
        }

        &--secondary {
            top: 25px;
            right: 0;
        }

        &--swapper {
            top: 55px;
            right: 55px;

            width: 20px;
            height: 20px;

            background-color: transparent;

            background-image: url(./img/swap.svg);

            &:hover, &:focus {
                outline: none;
                cursor: pointer;
            }
        }
    }
}


.pen-size {
    width: 22px;
    height: 22px;
    margin-right: 2px;

    box-sizing: border-box;

    border:  2px solid $grey;
    cursor: pointer;

    &--active {
        border: 2px solid $green;
    }

    &__list {
        display: flex;
        margin: 0;
        margin-bottom: 10px;
        padding: 0;

        list-style: none;

        &:before {
            left: calc(50% - 50px);
        }

        &:after {
            left: calc(50% - 50px);
            border-top-color: #000;
        }

        &:hover::before {
            top: -40px;
            z-index: 1000;
        }
    
        &:hover::after {
            top: -17px;
        }
    }

    &:before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: white;
        display: block;
        text-align: center;
        line-height: 12px;
        font-size: 90%;
    }

    &[data-size='1'] {
        padding: 5px;
    }

    &[data-size='2'] {
        padding: 4px;
    }

    &[data-size='3'] {
        padding: 3px;
    }

    &[data-size='4'] {
        padding: 2px;
    }
}

