/*Больше так не делать*/
* {
	margin: 0;
	padding: 0;
}

/*GLOBAL STYLES*/
html,
body {
	min-width: 1122px;
}

body {
	padding: 0;
	margin: 0;
	font-family: "PT Sans Narrow", Arial,sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	background-color: #000;
	background-image: url("../img/bg.jpg");

	background-repeat: no-repeat;
	background-position: center 0;		
}

.inner-page {
	color: #000;
	-webkit-background-size: 1200px auto;
	background-size: 1200px auto;
	background-color: #f9f6f2;
	background-image: url(../img/pattern-light.jpg);
	
	background-position: top center;
	background-repeat: no-repeat;
}

h1,h1,h3,h4,h5,p,h6 {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button {
	display: inline-block;
	padding: 10px 30px;
	margin-right: 16px;

	font: inherit;
	text-align: center;
	color: #fff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #000;
	border: none;
}

.button:hover,
.button:focus,
.button:active {
	background-color: #663d15;
}

.button.disabled,
.button:disabled {
	cursor: default;
	opacity: 0.5;
	background-color: #000;
}
/*END OF GLOBAL STYLES*/

/*HEADER*/
.main-header {
	margin-bottom: 65px;
}

.main-header-logo {
	order: 2;

	width: 368px;
	height: 153px;
}

.inner-page .main-header-logo {
	order: 0;

	width: 111px;
	height: 24px;
	padding: 23px 20px;
}

.main-navigation-wrapper {
	width: 100%;
	margin-bottom: 60px;
	background-color: #000;
}

.main-navigation {
	font-size: 16px;
	line-height: 20px;
	color: #fff;

	background-color: #000;
	background-color: transparent;

	display: flex;
	
	flex-direction: column;
	align-items: center;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;	
}

.main-navigation-wrapper .container {
	display: flex;
	justify-content: space-between;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	width: 620px;
}

.site-navigation,
.user-navigation {
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-navigation a,
.user-navigation a {
	display: block;
	padding: 25px 20px;
	
	vertical-align: middle;
	color: #fff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	background-color: #242424;
}

.site-navigation-current {
	position: relative;
}

.site-navigation-current a:not([href]) {
	background-color: #000;
}

.site-navigation-current::after {
	content: "";

	position: absolute;
	right: 20px;
	bottom: 0;
	left: 20px;

	height: 5px;
	background-color: #fff;
}

.user-navigation {
	display: flex;
	max-width: 140px;
}

.user-navigation .login-link {
	position: relative;
	padding-left: 50px;
}

.login-link::before {
	content: "";
	position: absolute;
	top: 27px;
	left: 24px;

	width: 16px;
	height: 18px;

	background-image: url(../img/login.svg);
	background-repeat: no-repeat;
	background-position: 0 0;

	opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before   {
	opacity: 1;
}
/*END OF HEADER*/

/*MAIN PAGE*/
.features {
	margin-bottom: 83px;
}

.features-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;	
}

.feature-item {
	text-align: center;
	width: 300px;
}

.feature-item h3 {
	position: relative;

	padding: 0;
	margin: 0;
	margin-bottom: 60px;

	font-size: 30px;
	line-height: 42px;
}

.feature-item h3::after {
	content: "";

	position: absolute;
	bottom: -30px;
	left: 50%;

	width: 20px;
	height: 20px;
	margin-left: -10px;

	background-color: #fff;
	transform: rotate(45deg);
}

.feature-item p {
	margin: 0 10px;
}

.index-columns h2,
.modal h2,
.page-title h1 {
	padding: 0;
	margin: 0;
	font-size: 30px;
	line-height: 42px;
}

.index-columns {
	color: #000;

	background-color: #f8f5f2;
	background-image: 
		url(../img/line.png),
		url(../img/pattern-light.jpg);
	background-repeat: no-repeat, repeat;
	background-position: center, 0 0;	

	padding: 45px 80px 50px;
	margin-bottom: 35px;

	display: flex;
	justify-content: space-between;
}

.index-columns h2 {
	margin-bottom: 20px;
}

.news {
	width: 380px;
}

.news-list {
	margin: 0;
	margin-bottom: 25px;
	padding: 0;

	list-style: none;
}

.news-item {
	margin-bottom: 20px;
}

.news-item time {
	text-transform: none;
}

.gallery img {
	width: 300px;
}

.gallery-container {
	position: relative;

	height: 260px;
	margin: 0;
}

.gallery-content {
	height: 164px;
	margin: 0;
}

.gallery-button {
	box-sizing: border-box;
	position: absolute;
	bottom: 0;

	width: 140px;
	margin: 0;
}

.button-gallery-back {
	left: 0;
}

.button-gallery-next {
	right: 0;
}

.contacts {
	width: 380px;
}

.contacts p {
	margin: 0;
	margin-bottom: 20px;
}

.appointment {
	width: 300px;
}

.page-title {
	margin: 0;
	margin-bottom: 25px;
	margin-top: 60px;
	padding: 0;
}

.gallery-content {
	background-color: #ccc;
	border: 7px solid #fff;
}

.appointment-info {
	margin: 0;
	margin-bottom: 10px;
}

.appointment-item input {
	font: inherit;

	background-color: transparent;
	border: 2px solid #000;
}

.appointment-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.appointment-item {
	width: 140px;
	margin: 0;
	margin-bottom: 15px;
}

.appointment-item label {
	display: block;
	margin-bottom: 5px;
	margin-left: 18px;

}

.appointment-item input {
	box-sizing: border-box;
	width: 140px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 7px;
}

.appointment-item input:focus,
.login-form input:focus {
	border: 2px solid #663d15;
}

.appointment .button {
	width: 100%;
	margin-top: 0px;
	margin-right: 0;
}
/*END OF MAIN PAGE*/

/*FOOTER*/
.main-footer {
	color: #fff;

	background-color: #212121;
	background-image: url(../img/pattern-dark.jpg);
	background-position: 0 0;
	background-repeat: repeat;

	margin-top: 65px;
	padding-top: 45px;
	padding-bottom: 45px;
}

.main-footer .container {
	display: flex;
}

.footer-contacts {
	width: 320px;
	margin: 0;
	margin-right: 80px;
}

.footer-social {
	width: 145px;
}

.footer-copyright {
	width: 150px;
	margin: 0;
	margin-left: auto;

}

.footer-contacts a {
	color: #fff;
	text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
	text-decoration: none;
}

.footer-social, .footer-copyright {
	text-align: center;
}

.footer-social ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 141px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-social b {
	display: block;
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
}

.social-button {
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	width: 43px;
	height: 43px;
	background-color: #000;
	color: #fff;
}

.social-button:hover,
.social-button:focus {
	background-color: #fff;
}

.social-button:hover path,
.social-button:focus path{
	fill: #000;
}

.footer-copyright {
	width: 150px;
	margin: 0;
	margin-left: auto;
	text-align: center;
}

.footer-copyright b {
	display: block;
	margin: 0;
}

.footer-copyright .button {
	margin-bottom: 15px;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
	color: #000;
	background-color: #fff;
}
/*END OF FOOTER*/

/*REGISTRATION POP-UP*/
.modal {
	position: fixed;

	color: #000;
	display: none;
	background-color: #f8f3f6;
	background-image: url(../img/pattern-light.jpg);
	background-position: 0 0;
	background-repeat: repeat;
	-webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);

	z-index: 2;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.modal-login {
	top: 120px;
	left: 50%;

	width: 300px;
	margin-left: -230px;
	padding: 50px 80px;
}

.modal-close {
	position: absolute;
	top: 0;
	right: -34px;

	width: 22px;
	height: 22px;
	font-size: 0;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.modal-close::before,
.modal-close::after {
	content: "";

	position: absolute;
	top: 10px;
	left: 5px;

	width: 19px;
	height: 3px;
	background-color: #d0d0d0;
}

.modal-close::before {
	transform: rotate(45deg);	
}

.modal-close::after {
	transform: rotate(-45deg);	
}

.modal-login h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;

	font-size: 30px;
	line-height: 42px;
}

.modal-description {
	margin: 0;
	padding: 0;
	margin-bottom: 10px; 
}

.login-form p {
	margin: 0;
	margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
	box-sizing: border-box;
	width: 300px;
	padding: 10px 15px;
	padding-right: 40px;

	font: inherit;
	color: #000;
	text-transform: uppercase;

	background-color: #f9f5f2;
	border: 2px solid #000;
}

.login-form input:hover {
		border: 2px solid #663d15;
}

.login-icon-user {
	background-image: url(../img/user.svg);
	background-position: 270px center;
	background-repeat: no-repeat;
}

.login-icon-password {
	background-image: url(../img/lock.svg);
	background-position: 270px center;
	background-repeat: no-repeat;	
}

.login-form .login-help {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin: 15px 0;
}

.login-checkbox {
	position: relative;
	padding-left: 30px;

	cursor: pointer;
}

.login-checkbox:hover,
.login-checkbox:focus {
	color: #663d15;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	top: 0;
	left: 0;

	width: 17px;
	height: 17px;

	border: 2px solid #000;
}

.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
	border-color: #663d15;
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
	content: "";

	position: absolute;
	top: 8px;
	left: 1px;

	width: 15px;
	height: 2px;

	background-color: #000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before{
	transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
	transform: rotate(-45deg);	
}

.login-form .button {
	width: 100%;
}

.restore {
	color: #000;
	text-decoration: underline;
}

.restore:hover,
.restore:focus {
	text-decoration: none;
}
/*END OF REGISTRATION POP-UP*/

/*MAP POP-UP*/
.modal-map {
		top: 50%;	
		left: 50%;
		width: 776px;	
		height: 576px;	
		margin-top: -295px;
		margin-left: -395px;

		border: 7px solid white;
		-webkit-box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.7);
		box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.7);
}
/*END OF MAP POP-UP*/

/*CATALOG PAGE STYLES*/
.main-header {
	min-height: 25px;
}

.inner-page .main-header {
	margin-bottom: 50px;
	background-color:#000;
}

.inner-page .main-navigation {
	align-items: flex-start;
	flex-direction: row;
}

.inner-page .user-navigation {
	margin-left: auto;
}

.breadcrumbs {
	display: flex;
	justify-content: flex-start;

	list-style: none;

	margin-bottom: 18px;
}

.breadcrumbs a {
	position: relative;

	padding-right: 42px;
	color: #000;
}

.breadcrumbs a::after {
	content: "";

	position: absolute;
	bottom: 6px;
	right: 17px;

	width: 8px;
	height: 8px;

	background-color: #000;
	transform: rotate(45deg);
}


.breadcrumbs a:hover,
.breadcrumbs a:focus {
	text-decoration: underline;
}

.breadcrumbs-current {
	color: #aba9a7;
}

.filters {
	max-width: 200px;
}

.filters fieldset {
	border: none;
}

.filter legend {
	margin-left: -12px;
	margin-bottom: 25px;
	margin-top: 25px;
	font-size: 24px;
	line-height: 30px;
}

.filter ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 18px;
	margin-left: -12px;
}

.filter-checkbox {
	position: relative;
	padding-left: 45px;
	
	cursor: pointer;
}

.filter-option {
	margin-bottom: 19px;
}
/*Checkboxes styling*/
.filter-checkbox input[type="checkbox"] + .checkbox-indicator  {
	position: absolute;
	top: 0;
	left: 0;

	width: 17px;
	height: 17px;

	border: 2px solid #000;
}

.filter-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
	border-color: #663d15;
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}
.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
	content: "";

	position: absolute;
	top: 8px;
	left: 1px;

	width: 15px;
	height: 2px;

	background-color: #000;
}

.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before{
	transform: rotate(45deg);
}

.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
	transform: rotate(-45deg);	
}
/*END OF Checkboxes styling*/

/*Radio button stilizing*/
label.filter-radio {
	display: inline-block;
	margin-top: -8px;
}

.filter-input-radio + label {
  position: relative;
  padding: 0 0 0 43px;
  cursor: pointer;
}

.filter-input-radio + label.filter-radio:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #000;
  border-radius: 50%;
  background: transparent;
}

.filter-input-radio + label.filter-radio:after {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #000;
  opacity: 0;
}

.filter-input-radio:checked + label:after {
  opacity: 1;
}
/*END OF Radio button stilizing*/

.filter-input:hover + label,
.filter-input:focus + label {
	color: #663d15;
}

.filter-input:disabled + label {
	color: #000;
	opacity: 0.5;
}

.filter-button {
	margin-top: 30px;
}

.catalog {
	width: 700px;
}

.catalog-columns {
	display: flex;
	justify-content: space-between;
}

.catalog-list {
	padding: 0;
	margin: 0;
	margin-bottom: 25px;

	display: flex;
	flex-wrap: wrap;

	list-style: none;
}

.catalog-item {
	margin-bottom: 20px;
	margin-right: 20px;
	width: 220px;

	background-color: #f8f8f8;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:nth-child(3n) {
	margin-right: 0;
}

.catalog-item:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
	color: #000;
}

.catalog-item h3 {
	font-size: 14px;
	line-height: 18px;
}

.catalog-category {
	text-transform: none;
}

.catalog-item-price b,
.product-price b {
	font-size: 14px;
	line-height: 18px;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 110px;

	background-color: #e5e5e5;
}

.catalog-item-price .button,
.product-price .button {
	color: #fff;
	padding-left: 20px;
	padding-right: 20px;
}

.catalog {
	margin-top: 35px;
}

.catalog-item-image img {
	width: 220px;
	height: 165px;

	margin-bottom: 5px;
}

.catalog-item h3 {
	margin-left: 17px;
	margin-bottom: 13px;
}

.catalog-category,
.catalog-item-title {
	display: block;
}

 .catalog-item-price {
	padding-left: 15px;
	display: flex;
 }

.catalog-item a {
	display: flex;
	flex-direction: column-reverse;
}

.pagination-list {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.pagination-item a {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-right: 7px;

	width: 43px;
	height: 43px;

	color: #fff;
	background-color: #000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
	background-color:  #663d15;
}

.pagination-item-current a {
	color: #000;
	background-color: #fff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
	color: #000;
	background-color: #fff;
}

.inner-page .main-footer {
	margin-top: 45px;
}
/*END OF CATALOG PAGE STYLES*/

/*CATALOG ITEM PAGE STYLES*/
.item-page .catalog-columns {
		margin-top: 55px;
}

.product-photos {
	width: 460px;
}

.product-photo-preview {
	list-style: none;
}

.product-photo-full, 
.product-photo-preview li {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-photo-full:hover, 
.product-photo-preview li:hover,
.product-photo-full:focus,
.product-photo-preview li:focus {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.product-photo-full {
	width: 460px;
	height: 498px;
}

.product-photo-preview {
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
}

.product-photo-preview>li+img {
	width: 140px;
	height: 149px;
}

.product-info {
	width: 390px;
}

.product-article-and-presence {
	padding-top: 15px;
	padding-bottom: 28px;
	display: flex;
	justify-content: space-between;
}

.product-article {
	color: #aeaeae;
}

.product-price {
	display: flex;
	justify-content: flex-start;
	margin-top: 40px;
	margin-bottom: 60px;
}

.product-info h3 {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 25px;
}

.product-info ul {
	list-style: none;
}

.product-info li {
	position: relative;
	padding-left: 23px;
}

.product-info li::before {
	content: "";

	position: absolute;
	top: 7px;
	left: 2px;

	width: 8px;
	height: 8px;
	background-color: #000;

	transform: rotate(45deg);
}
/*CATALOG ITEM PAGE STYLES*/

/*PRICE PAGE STYLING*/
.inner-content {
	margin-bottom: 75px;
}

.inner-content h2 {
	margin-top: 60px;
	margin-bottom: 30px;

	font-size: 24px;
	line-height: 30px;
}

.inner-content h3 {
	margin-top: 60px;
	margin-bottom: 30px;

	font-size: 20px;
	line-height: 24px;
}

.inner-content h2 + h3 {
	margin-top: 30px;
}

.inner-content p {
	margin: 14px 0;
}

.inner-content table {
	border-collapse: collapse;
}

.inner-content td {
	padding: 10px 15px;
	
	border: 2px solid #000;
}

.inner-content .big-heading {
	display: flex;
	align-items: center;

	margin-top: 45px;
	margin-bottom: 60px;

	font-size: 48px;
	line-height: 48px;
	text-align: center;
}

.big-heading::before,
.big-heading::after {
	content: "";

	flex-grow: 1;
	flex-shrink: 0;

	width: 50px;
	height: 2px;
	background: #000;
}

.big-heading::before {
	margin-right: 25px;
}

.big-heading::after  {
	margin-left: 25px;
}

.custom-list-1 {
	list-style: none;
}

.custom-list-1 li {
	position: relative;

	margin-bottom: 13px;
	padding-left: 20px;
}

.custom-list-1 li::before {
	content: "";

	position: absolute;
	top: 8px;
	left: 0;
		
	width: 8px;
	height: 8px;

	background-color: #000;
	transform: rotate(45deg);
}

.custom-table-1 {
	width: 100%;
}

.custom-table-1 td {
	width: 50%;
}

.custom-table-1 td:last-child {
	text-align: center;	
}

.inner-columns {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 40px 0;
}

.inner-column-left,
.inner-column-right {
	width: 460px;
}

.inner-column-left *:first-child,
.inner-column-right *:first-child {
	margin-top: 0;
}

.inner-columns > h2:first-child {
	width: 100%;
	margin-top: 0;
	margin-right: 460px;
}

.short-txt {
	padding-right: 80px;
}
/*END OF PRICE PAGE STYLING*/