:root {
  --green: #849d8f;
  --gray: #8996a6;
  --beige: #9d8b84;
  --green-light: #cdf3de;  
  --gray-light: #cce0f1;
  --beige-light: #edd7ce;
}


.visually-hidden:not(:focus):not(active),
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

body {
	padding: 0;
	margin: 0;

	font-family: 'Roboto', Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #fff;
	
	background-color: #bbf;
	z-index: -4;
}

.container {
	max-width: 1146px;
	margin: auto;
}

a {
	color: #fff;
}

/* BACKGORUNDS CHANCHING BY ITEM */
.bg-image {
	width: 100%;
	height: 100%;
	
	background-image: url(../img/gllacy-index-1200.jpg);
	background-repeat: no-repeat;
	background-position: top center;

	z-index: -2;
}

.bgs {
	position: relative;
}

.bg {
	position: fixed;

	width: 100%;
	height: 100%;
	
	z-index: -3;
}

.bg1 {
	background-color: var(--green, #5f5);
	z-index: -2;
}

.bg2 {
	background-color: var(--gray, #8996a6);
}

.bg3 {
	background-color: var(--beige, #9d8b84);
}

.bg-light {
	position: absolute;
	top: -100px;
	left: 150px;

	width: 1045px;
	height: 881px;

	background-repeat: no-repeat;
	
	z-index: -2;
}

.bg1-light {	
	background-image: url(../img/light-green.png);
	
}

.bg2-light {
	background-image: url(../img/light-gray.png);
}

.bg3-light {
	background-image: url(../img/light-beige.png);
}
/* END OF BACKGORUNDS CHANCHING BY ITEM */

td {
	border: 1px solid #000;
}

ul {
	list-style: none;
}

.main-navigation {
	display: flex;
	justify-content: space-between;

	padding-top: 10px;
}

.main-navigation a {
	color:#fff;
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
}

.nav-right {
	position: relative;
	display: flex;
}

.site-navigation {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	width: 400px;

	margin: 0;
	margin-left: -20px;
	margin-top: 15px;
	z-index: 2;
}

.site-navigation a {
	padding-right: 10px;
	padding-left: 10px;
 	padding-top: 7px;
 	padding-bottom: 7px;
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.site-navigation a:hover {
	color: #333;

	background-color: #f7f6f3;
	
	border-radius: 16px;
}

.site-navigation a:active {
	box-shadow: 1px -1px 2px #696969, -1px -1px 2px #696969;
}

.catalog-menu {
	margin: 0;
	margin-left: 0;
	padding-bottom: 10px;
}

.new-ice-creams div {
	border: 1px solid #d1d0ce;
	width: 90%;
	margin: auto;
}

.display-none {
	display: none;
}

.menu-fall-out {
	position: absolute;
	top: 50px;
	left: 157px;

	margin: 0;
	padding: 0;
	padding-top: 8px;
	padding-bottom: 8px;
	
	border-radius: 10px;
	background-color: #f8f7f4;
	box-shadow: 5px 10px 20px rgba(50, 50, 50, 0.4), -5px 10px 20px rgba(50, 50, 50, 0.4);
	z-index: 1;
}

.fall-menu li {
	margin: 0;
	padding: 0;
}

.fall-menu {
	margin: 0;
	padding: 0;	
}

.fall-menu a {
	display: block;
	margin: 0;
	padding: 0;
	padding-left: 15px;
	padding-right: 25px;
	padding-top: 6px;
	padding-bottom: 8px;
	color:#323232;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}


.fall-menu a:hover,
.fall-menu a:focus {
	background-color: #fbded7;
	border-radius: 0;
}

.fall-menu a:active {
	background-color: #f6b5a5;
	border-radius: 0;
}

/*.fall-menu li:last-child > a:hover,
.fall-menu li:last-child > a:focus {
	
	border-radius: 0 0 10px 10px;
}

.fall-menu li:first-child > a:hover,
.fall-menu li:first-child > a:focus {
	border-radius: 10px 10px 0 0 ;
}
*/
.new-ice-creams a {
	font-weight: 700;
}

.nav-left {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
}

.user-navigation {
	display: flex;
	margin: 0;
	margin-top: 11px;
}

.user-navigation li {
	background-color: rgba(255, 255, 255, .2);
	margin: 0;
	padding: 0;
	margin-left: 10px;
	border-radius: 16px;

	font-weight: 400;
	font-size: 14px;
	line-height: 32px;
	position: relative;
}

.user-navigation>li:hover path,
.user-navigation>li:hover polygon,
.user-navigation>li:hover circle {
	fill: #000;
}

.user-navigation a:hover,
.user-navigation a:focus {
	color: #000;
}

.btn-search {
	background: none;
	border: none;
	vertical-align: middle;
}

.login-link {
	padding-right: 15px;
	padding-left: 40px;

	text-decoration: none;
	border: none;
}

.basket {
	display: inline-block;
	width: 75px;
	padding: 0;
	padding-left: 43px;
	vertical-align: middle;
	text-align: left;

	text-decoration: none;
	border: none;
}

.hdr-phone-numb {
	display: block;
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
}

.slider-section {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
	position: relative;
}

.btn {
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	text-shadow:0 0 10px #a0200b;

	padding-top: 13px;
	padding-bottom: 15px;
	padding-left: 25px;
	padding-right: 25px;

	margin: 0;

	background: linear-gradient(#f26843, #e74a35);
	border-radius: 45px;
	border: 1px solid transparent;
	box-shadow: 1px 1px 2px #ac1000, -1px 1px 2px #ac1000;
}

.btn:hover,
.btn:focus {
	background: linear-gradient(#f58669, #ec6f5e);
}

.btn:active {
	transform: translateY(1px);
	background: linear-gradient(#d74632, #e0603e);
	box-shadow: 1px -1px 2px #ac1000, -1px -1px 2px #ac1000;
}


.slider {
	margin: 0;
	padding: 0;
	position: relative;

	min-height: 450px;

}

.slider-item {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding-top: 260px;
}

label.choose-both  {
	font-size: 60px;
	font-weight: 700;
	line-height: 1em;
	text-align: center;
}

.davai-oba {
	font-size: 32px;
	line-height: 44px;
	height: 64px;

	margin: 0;
	margin-top: 30px;
	padding: 0 40px;
}

.ice-cream-left {
	position: absolute;
	top: -50px;
	left: 245px;	

	z-index: -1
}

.ice-cream-right {
	position: absolute;
	top: -20px;
	right: 245px;

	z-index: -1;
}

/*Slider button stilizing*/
.item-round {
	content: "";
	position: absolute;
	bottom: 2px;
	left: 0;

	width: 21px;
	height: 21px;

	border: 2px solid #fff;
	border-radius: 50%;
  background: transparent;
}

.item-round:hover {
	cursor: pointer;
}

.item2-round {
		left: 29px;
}

.item3-round {
		left: 58px;
}

.item-round-after {
  background: #fff;
}
/*END OF Radio button stilizing*/

.special-offers {
	display: flex;
	justify-content: space-between;
	
	margin: 0;
	padding: 0;
	margin-top: 63px;
}

.special-offers li {
	position: relative;

	width: 540px;
	height: 230px;
	border-radius: 15px;
	margin: 0;
	padding: 0;
	padding-left: 20px;
}

.offer-btn {
	position: absolute;
	bottom: 23px;
	right: 21px;

}

.special-offer-raspberry {
	background-image: url(../img/bg-raspberry.jpg);
	object-fit: contain;

}

.special-offer-choco {
	background-image: url(../img/bg-choco.jpg);
	object-fit: contain;
}

.special-offers h2 {
	font-size: 35px;
	line-height: 41px;
	margin: 0;
	margin-top: 18px;
	margin-bottom: 13px;
}

.special-offers p {
	font-size: 18px;
	line-height: 22px;
	margin: 0;
}

.hit-section {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-top: 40px;
}

.hit-section li {
	position: relative;
	width: 267px;
	height: 100%;
}

.hit-svg {
	position: absolute;
	top: 0;
	left: 0;

	width: 61px;
	height: 61px;

	background-image: url(../img/hit.svg);
	background-repeat: no-repeat;
}

.hit-price {
	font-size: 45px;
	line-height: 45px;

	position: absolute;
	top: 160px;
	left: 0;
}

.hit-price span {
	font-size: 30px;
	line-height: 45px;
}

.hit-expl {
	margin: 0;
	padding: 0;

	text-align: center;
	font-size: 16px;
	line-height: 22px;
		
}

a.hit {
	text-decoration: none;
}

.hit-expl span {
	border-bottom: 1px solid rgba(255, 255, 255, .2);
	text-align: center;
}

.features {
	margin: 0;
	padding: 0;
	margin-top: 40px;
	padding-top: 25px;
	padding-left: 20px;

	color: #323232;
	
	background-image: url(../img/bg-wafer.png);

	border-radius: 16px;	
}

.features-p {
	margin: 0;
	padding: 0;

	font-size: 24px;
	line-height: 30px;
}

.features-rows {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	padding-top: 5px;
	padding-right: 10px;
}


.features-list {
	display: flex;
	flex-direction: column;

	margin: 0;
	padding: 0;
	padding-top: 15px;
	padding-bottom: 5px;

	font-size: 16px;
	line-height: 22px;
}

.features-list li {
	padding: 0;
	margin: 0;
	padding-left: 55px;
	padding-bottom: 20px;
}

.list1 {	
	background-image: url(../img/icon-plombir.svg),
										url(../img/icon-leaf.svg);
	background-repeat: no-repeat;
	background-position: 0 0px, 0 90px;
}

.list1 li {
padding-right: 20px;
}

.list2 {
	background-image: url(../img/icon-cow.svg),
										url(../img/icon-termometer.svg);
	background-repeat: no-repeat;
	background-position: 0 0px, 0 90px;
}

.subs-and-blog {
	margin-top: 40px;

	display: flex;
	justify-content: space-between;
}

.blog {
	margin: 0;
	padding: 0;
	padding-left: 20px;
	padding-top: 25px;
	margin-right: 25px;

	width: 560px;

	background-image: url(../img/bg-strawberry.jpg);
	background-repeat: no-repeat;

	border-radius: 15px;
}

.blog h2 {
	margin: 0;
	padding: 0;

	color: #323232;
	font-size: 16px;
	line-height: 22px;
}

.blog a {
	display: inline-block;
	max-width: 300px;

	margin: 0;
	padding: 0;	

	color: #323232;
	font-size: 24px;
	line-height: 30px;
	text-decoration: underline;

}

.subscribe {
	margin: 0;
	padding: 0;

	max-width: 560px;

	color: #5a5a5a;
	
	background-color: #fff;
	  background: repeating-linear-gradient(-45deg, #92cdff, #92cdff 10px, white 10px, white 20px, #fe9e90 20px, #fe9e90 30px, #fff 30px, #fff 40px);

	border-radius: 15px;
}

.subscribe-bg {
	margin: 5px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 35px;

	background-color: #f8f7f4;
	border-radius: 15px;

}

.subscribe p {
	margin: 0;
	padding: 0;
	margin: 5px;
	padding-top: 30px;
	margin-bottom: 35px;

	font-size: 16px;
	line-height: 22px;
}

.subscribe-form {
	display: flex;
	justify-content: space-between;
}

.subscribe-form input[type="email"] {
	width: 350px;

	padding-left: 15px;
	
	font-size: 16px;
	line-height: 22px;
}

.subscribe-btn {
	padding-left: 20px;
	padding-right: 20px;
}

.map .container {
	max-width: 1200px;	
	margin: auto;
	
}

section.map {
	position: relative;
	margin-top: 35px;
}

.map-img {
	margin-left: -27px;
	z-index: -1;
}

.pin {
	position: absolute;
	top: 140px;
	left: 240px;

	z-index: 2;
}

.address {
	position: absolute;
	top: 60px;
	right: 27px;

	margin: 0;
	padding: 0;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 30px;


	color: #000;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;

	background-color: #fff;
	border-radius: 15px;

}

.address .bold {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.main-footer {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;

	font-size: 12px;
	line-height: 18px;

}

.footer-social {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	margin: 0;
	padding: 0;
}

.footer-menu {
	display: flex;
}

.footer-menu li {
	margin-bottom: 5px;
	position: relative;
}

.footer-heart {
	position: absolute;
	left: -17px;
}

.footer-social svg {
	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;

}

.footer-social li {
		margin-right: 11px;
}

.footer-copyright {
	min-width: 190px;

	margin: 0;
	padding: 0;	
}
