.table {
    margin: 30px 15px;

    &__row {
        border-bottom: 1px solid #f99;
    }

    &__td {
        border-bottom: 1px solid #999;

        &:hover, &:focus {
            background-color: rgb(178, 227, 255);
        }
    }
}

.bold {
    font-weight: bold;
    background-color: rgb(178, 227, 255);

    &:hover, &:focus {
        background-color: #4DBEFF;
    }
}