---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="note__crumbs"> 
  <a href='/notes'>Notes</a>
  <p>&nbsp / &nbsp {{ title }}</p>
</div>

<h2 class="note__title">{{ title }}</h2>

<time class="note__time" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
<div class="note__tags">
  {%- for tag in tags | filterTagList -%}
  {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
  <a href="{{ tagUrl | url }}" class="post__tag">{{ tag }}</a>
  {%- endfor %}
</div>

{%- if collections.posts %}
{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}

<div class="note__pagination">
  <div>
    {%- if nextPost %}
    <a class="note__pagination--link" href="{{ nextPost.url | url }}">
        <span class="note__pagination-arrow--right"><</span>
        <div class="note__pagination--link-txt">
          <p style="text-align: left">{{ nextPost.data.title }}</p>
          <p style="text-align: right">{{ nextPost.data.date | readableDate }}</p>
        </div>
      </a>
    {% endif %}
  </div>
  <div>
    {%- if previousPost %}
      <a class="note__pagination--link" href="{{ previousPost.url | url }}">
        <div class="note__pagination--link-txt">
          <p style="text-align: right">{{ previousPost.data.title }}</p>
          <p style="text-align: right">{{ previousPost.data.date | readableDate }}</p>
        </div>
        <span class="note__pagination-arrow--left">></span>
      </a>
    {% endif %}
  </div>
</div>
{%- endif %}
{%- endif %}

<div class="note-md">
  {{ content | safe }}
</div>

